@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:'poppins',sans-serif ;
    height:100vh;
    width:100%;
    background:grey;
    background-position:center;
    background-size: cover;
}
nav{
    height:80px;
    width: 100%;
}
.logo{
    color:black;
    font-size:35px;
    line-height: 80px;
    padding:0 100px;
    font-weight:bold;
}
nav ul{
    list-style:none;
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px ;
    margin: 0 10px;
}
nav ul li a{
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px;
    border-radius: 3px;

}
a.touch,a:hover{
    border-bottom: 3px solid red;
    transition: .5s;
}
.selectbtn{
    color:black;
    font-size:45px;
    float: right;
    line-height: 80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
#select{
    display:none;

}
@media(max-width:950px){
    .logo{
        font-size:30px;
        padding-left:50px;
    }
    nav ul li a{
        font-size:16px;
    }
}
@media(max-width:850px){
    .selectbtn{
        display:block;
    }
    nav ul{
        position: fixed;
        width:100%;
        min-height:100vh;
        backdrop-filter:blur(10px) ;
        top:80px;
        left:-100%;
        transition: all.5s;
        text-align:center;
    }
    nav ul li{
        display:block;
        margin:50px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size:20px;
    }
    a:hover,a:active{
        background:white;
        color:#000;
    }
    #selector:checked~ul{
        left:0;
    }
    
   
    }