<!DOCTYPE html> 
<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <!-- <link rel="stylesheet" href="base.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <div class="hero">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="../static/new.mp4" type="video/mp4"> 
        </video>
        <nav>
            <img src="https://clipart-library.com/img/1695183.png" class="logo">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/userregister">REGISTER</a></li>
                <li><a href="/logIn">LOGIN</a></li>
                <li><a href="/about">ABOUT US</a></li>
            </ul>
        </nav>
        <div class="content">
            <h3>COOK BOOK</h3> 
            <!-- <a href="register.html">Sign Up</a> -->
        </div>
        
    </div>
</body>
</html>
